* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  width: 100%;
}

main .max-width-wrapper {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
  padding-block: 64px;
}

.card {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding-inline: 24px;
  padding-block-start: 8px;
  line-height: 1.4;
}

.intro-chunk {
  width: 30%;
  margin-left: 20%;
  padding-inline: 24px;
  padding-top: 32px;
  padding-bottom: 32px;;
}

.title {
  color: hsl(0deg, 0%, 0%);
  margin-block-start: 0px;
  margin-block-end: 32px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  padding-block: 24px;
  padding-inline: 40px;
  margin-block: 0px;
  margin-inline-start: -40px;
  border-bottom: 8px solid;
  border-color: hsl(45deg, 100%, 40%);
  width: -moz-fit-content;
  width: fit-content;
}

/* tablet */
@media screen and (min-width: 481px) and (max-width: 767px) {

  .intro-chunk {
    width: 60%;
    margin-left: 0;
    padding-inline: 24px;
    padding-top: 32px;
    padding-bottom: 32px;;
  }

  .card {
    width: 100%;
    background-color: hsl(0deg, 0%, 100%);
    border-bottom: 8px solid hsl(0deg, 0%, 40%);
    padding-inline: 24px;
    padding-block-start: 8px;
  }

}

/* mobile */
@media screen and (max-width: 480px) {

  .intro-chunk {
    width: 100%;
    margin-left: 0;
    padding-inline: 24px;
    padding-top: 32px;
    padding-bottom: 32px;;
  }

  .card {
    width: 100%;
    background-color: hsl(0deg, 0%, 100%);
    border-bottom: 8px solid hsl(0deg, 0%, 40%);
    padding-inline: 24px;
    padding-block-start: 8px;
  }

}